body{
    width: 100vw;
    height: 100vh;
}

.page{
     width: 100%;
     height: calc(100% - 56px);
     overflow: hidden;
 }

.submenu{
    width: 300px;
    background-color: #f8f9fa;
    height: 100%;
    float: left;
}

.submenu nav{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 18px;
}

.submenu nav a{
    color: #848383;
}

.submenu nav a:visited{
    color: inherit;
}

.view{
    width: calc(100% - 300px);
    float: right;
}

#mediaImportAddForm > div{
    flex-wrap: wrap;
    display: inline-flex;
    float: left;
    width: 1045px;
    margin: 10px 10px 30px 10px;
    border: 1px solid silver;
    padding: 10px;
}

#mediaImportAddForm input, #mediaImportAddForm select{
    float: left;
}

#mediaImportAddForm fieldset[name*="city"]:not(:first-of-type) {
    margin-left: 150px;
}

#mediaImportAddForm select[name*="media"] {
    width: 150px;
}

#mediaImportAddForm select[name*="media"], #mediaImportAddForm select[name*="code"] {
    width: 150px;
}

#mediaImportAddForm > fieldset {
    width: calc(100% - 150px);
    display: block;
}

#mediaImportAddForm input[name*="url"] {
    width: 200px;
}

#mediaImportAddForm input[name*="pages"] {
    width: 75px;
}

#mediaImportAddForm input[name*="pause"] {
    width: 60px;
}

#mediaImportAddForm input[name$="link]"] {
    width: 300px;
}

#mediaImportAddForm input[name*="params"] {
    width: 85px;
    float: none;
}

#saveButton{
    margin: 50px 0 0 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
